<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Usuarios</span>
            <button class="btn btn-primary btn-lg float-end" routerLink="/create-usuario">Agregar</button>
            <h5 *ngIf="usuarios.length == 0" class="mt-5">No hay Usuarios</h5>
            <table *ngIf="usuarios.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Usuario</th>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Creado</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of usuarios">
                    <td>1</td>
                    <td>{{e.usuario}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.fecha.toDate() |  date:'short'}}</td>
                    <td>
                        <i (click)="eliminarUsuario(e.id)" class="fas fa-trash-alt fa-lg text-danger m-1"></i>
                        <i class="fas fa-edit fa-lg text-info m-1" [routerLink]="['/edit-usuario/', e.id]"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>