<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand ms-2"><i class="fa-solid fa-stethoscope fa-xl mx-2"></i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="producto/nuevo" data-toggle="collapse" data-target="#navbarSupportedContent" href="#">Crear Producto</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="producto/listado" data-toggle="collapse" data-target="#navbarSupportedContent">Listado Productos</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="home" data-toggle="collapse" data-target="#navbarSupportedContent">Listado Fichas</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="create" data-toggle="collapse" data-target="#navbarSupportedContent">Agregar Ficha</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="items" data-toggle="collapse" data-target="#navbarSupportedContent">Items</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
