<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>
                        {{titulo}}
                        <div *ngIf="loading" class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createUsuario.invalid" class="badge bg-danger">Todos los campos son obligatorios</span>
                    <form class="mt-4" [formGroup]="createUsuario" (submit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Usuario" formControlName="usuario">
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Nombre" formControlName="nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Email" formControlName="email">
                            </div>
                        </div>
                        <div class="float-end">
                            <button type="button" class="btn btn-secondary btn-lg me-3" routerLink="/list-usuarios">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>